### Assignment-04 (Tuple)

    Create an empty tuple and print it.

In [1]:
empty_tuple = ()
print(empty_tuple)

()

    Create a tuple of your favorite fruits and print it.

In [2]:
fvrt_fruits = ('apple', 'banana', 'orange')
print(fvrt_fruits)

('apple', 'banana', 'orange')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [3]:
mixed_tuple = (1, 'hello', 3.14, 5, 'world')

print(mixed_tuple)

(1, 'hello', 3.14, 5, 'world')

  Access the first element of a tuple.

In [4]:
my_tuple = ('apple', 'banana', 'orange', 'watermelon', 'mango')

first_element = my_tuple[0]

print("First element of the tuple:", first_element)

First element of the tuple: apple

    Access the last element of a tuple.

In [5]:
first_element = my_tuple[-1]

print("First element of the tuple:", first_element)

First element of the tuple: mango

Access the second and third elements of a tuple.

In [6]:
first_element = my_tuple[1]
second_element = my_tuple[2]

print("Second element of the tuple:", first_element)
print("Third element of the tuple:", second_element)

Second element of the tuple: banana
Third element of the tuple: orange


    Slice a tuple to extract the first three elements.

In [7]:
first_three_ele = my_tuple[:3]
print(first_three_ele)

('apple', 'banana', 'orange')

Slice a tuple to extract the last three elements.

In [8]:
last_three_ele = my_tuple[-3:]
print(last_three_ele)

('orange', 'watermelon', 'mango')

   Slice a tuple to get every second element.

In [9]:
every_second_ele = my_tuple[::2]
print(every_second_ele)

('apple', 'orange', 'mango')

    Reverse a tuple using slicing.

In [10]:
rev_tup = my_tuple[::-1]
print(rev_tup)

('mango', 'watermelon', 'orange', 'banana', 'apple')

Create two tuples and concatenate them.

In [11]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 'a', 'b', 'c')

    Repeat a tuple multiple times using the repetition operator.

In [12]:
repeated_tuple = my_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: ('apple', 'banana', 'orange', 'watermelon', 'mango', 'apple', 'banana', 'orange', 'watermelon', 'mango', 'apple', 'banana', 'orange', 'watermelon', 'mango')

Find the index of a specific element in a tuple using the index() method.

In [13]:
index_of_banana = my_tuple.index('banana')

print("Index of 'banana':", index_of_banana)

Index of 'banana': 1

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [14]:
count_of_banana = my_tuple.count('banana')

print("Number of occurrences of 'banana':", count_of_banana)

Number of occurrences of 'banana': 1

Sort a tuple of numbers in ascending order.

In [15]:
my_tuple = (4, 2, 7, 1, 5)

lst = list(my_tuple)
lst.sort()

my_tuple = tuple(lst)

print("Sorted tuple:", my_tuple)

Sorted tuple: (1, 2, 4, 5, 7)

    Sort a tuple of strings in alphabetical order.

In [16]:
my_tuple = ('banana', 'apple', 'orange', 'kiwi')

my_list = list(my_tuple)
my_list.sort()

sorted_tuple = tuple(my_list)

print("Sorted tuple:", sorted_tuple)

Sorted tuple: ('apple', 'banana', 'kiwi', 'orange')

Sort a tuple of tuples based on the second element of each inner tuple.

In [17]:
my_tuple = ((1, 5), (2, 3), (3, 1), (4, 7))

sorted_tuple = tuple(sorted(my_tuple, key=lambda x: x[1]))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: ((3, 1), (2, 3), (1, 5), (4, 7))

Compare two tuples to see if they are equal in both value and identity.

In [18]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if tuple1 and tuple2 are equal in value
print("Are tuple1 and tuple2 equal in value?", tuple1 == tuple2)

# Check if tuple1 and tuple2 are equal in identity
print("Are tuple1 and tuple2 equal in identity?", tuple1 is tuple2)

Are tuple1 and tuple2 equal in value? True
Are tuple1 and tuple2 equal in identity? False

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [19]:
original_tuple = (1, 2, 3)

shallow_copy = original_tuple

# Modify one of the tuples
try:
    shallow_copy[0] = 4
except TypeError as e:
    print("Error:", e)

print("Original tuple:", original_tuple)
print("Shallow copy:", shallow_copy)

Error: 'tuple' object does not support item assignment
Original tuple: (1, 2, 3)
Shallow copy: (1, 2, 3)

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [20]:
import copy

original_nested_tuple = ((1, 2), [3, 4])
deep_copy = copy.deepcopy(original_nested_tuple)

deep_copy[1][0] = 5

print("Original nested tuple:", original_nested_tuple)
print("Deep copy:", deep_copy)

Original nested tuple: ((1, 2), [3, 4])
Deep copy: ((1, 2), [5, 4])

    Pickle a tuple and save it to a file.

In [21]:
import pickle

my_tuple = (1, 2, 3, 'hello', 'world')

file_path = 'pickled_tuple.pkl'

with open(file_path, 'wb') as f:
    pickle.dump(my_tuple, f)

print("Tuple pickled and saved to:", file_path)

Tuple pickled and saved to: pickled_tuple.pkl

    Unpickle a tuple from a file and display its content.

In [22]:
import pickle

# File path from which to unpickle the tuple
file_path = 'pickled_tuple.pkl'

# Unpickle the tuple from the file
with open(file_path, 'rb') as f:
    unpickled_tuple = pickle.load(f)

print("Unpickled tuple:", unpickled_tuple)

Unpickled tuple: (1, 2, 3, 'hello', 'world')