### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [32]:
my_list = []
print(my_list)

[]

Create a list of your favorite colors and print it.

In [33]:
fvrt_colors = ["black", "blue", "red"]
print(fvrt_colors)

['black', 'blue', 'red']

Create a list that includes a mix of data types (integers, strings, floats).

In [34]:
mixed_list = [1, "apple", 3.14, "banana", 5]
print(mixed_list)

[1, 'apple', 3.14, 'banana', 5]

Access the first element of a list.

In [35]:
first_element = mixed_list[0]
print(first_element)

1

Access the last element of a list.

In [36]:
first_element = mixed_list[-1]
print(first_element)

5

 Access the second and third elements of a list.

In [37]:
second_element = mixed_list[1]
third_element = mixed_list[2]
print(second_element, ",", third_element)

apple , 3.14


Slice a list to extract the first three elements.

In [38]:
first_three_elements = mixed_list[:3]
print(first_three_elements)

[1, 'apple', 3.14]

Slice a list to extract the last three elements.

In [39]:
last_three_elements = mixed_list[-3:]
print(last_three_elements)

[3.14, 'banana', 5]

Slice a list to get every second element.

In [40]:
every_second_element = mixed_list[::2]
print(every_second_element)

[1, 3.14, 5]

Reverse a list using slicing.

In [41]:
reversed_list = mixed_list[::-1]
print(reversed_list)

[5, 'banana', 3.14, 'apple', 1]

 Create two lists and concatenate them.

In [42]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]


Repeat a list multiple times using the repetition operator

In [43]:
repeated_list = list1 * 3 
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Add a new element to the end of a list using the append() method.

In [44]:
new_list=[1,2,3]
new_list.append(4)
print(new_list)

[1, 2, 3, 4]


Extend a list with elements from another list using the extend() method.

In [45]:
list1.extend(list2) 
print(list1)

[1, 2, 3, 4, 5, 6]

Insert an element at a specific index in a list using the insert() method.

In [46]:
my_list = [1, 2, 3, 5, 6, 7]
my_list.insert(3, 4) 
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

 Remove the last element from a list using the pop() method.

In [47]:
my_list.pop()
print(my_list)

[1, 2, 3, 4, 5, 6]

Remove a specific element from a list using the remove() method.

In [48]:
my_list.remove(2)
print(my_list)

[1, 3, 4, 5, 6]

Clear all elements from a list.

In [49]:
my_list.clear()
print(my_list)

[]

Delete an element at a specific index using the del statement.

In [50]:
my_list2 = [1, 2, 3, 4, 5]
del my_list2[2]  
print(my_list2)

[1, 2, 4, 5]

Convert a string to a list of characters and vice-versa.

In [51]:
my_string = "hello"
char_list = list(my_string)
print(char_list)
char_list = ['h', 'e', 'l', 'l', 'o']
my_string = ''.join(char_list)
print(my_string)

['h', 'e', 'l', 'l', 'o']
hello

Sort a list in ascending order using the sort() method.

In [52]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
my_list.sort() 
print(my_list)

[1, 1, 2, 3, 4, 5, 6, 9]


#Sort a list in descending order using the sort() method.

In [53]:
my_list.sort(reverse=True)  
print(my_list)

[9, 6, 5, 4, 3, 2, 1, 1]

Reverse the order of a list using the reverse() method.

In [54]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
my_list.reverse()  
print(my_list)

[6, 2, 9, 5, 1, 4, 1, 3]

Check if an element is present in a list using the in operator.

In [55]:
my_list = [1, 2, 3, 4, 5]
element = 3
if element in my_list:
    print(f"{element} is present in the list.")
else:
    print(f"{element} is not present in the list.")

3 is present in the list.

Compare two lists to see if they are equal in both value and identity.

In [56]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

if list1 == list2:
    print("The lists are equal in value.")
else:
    print("The lists are not equal in value.")

if list1 is list2:
    print("The lists are equal in identity.")
else:
    print("The lists are not equal in identity.")

The lists are equal in value.
The lists are not equal in identity.

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [57]:
original_list = [[1,1], 2, 3]

shallow_copy = original_list.copy()  

original_list.append(6)
shallow_copy[0].append(4)

# Print both lists
print("Original List:", original_list)
print("Shallow Copy:", shallow_copy)

Original List: [[1, 1, 4], 2, 3, 6]
Shallow Copy: [[1, 1, 4], 2, 3]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [58]:
import copy

original_list = [[1,1], 2, 3]

deep_copy = copy.deepcopy(original_list)

original_list[0].append(5)
original_list.append(5)
deep_copy[0].append(10)
deep_copy.append(10)

print("Original Nested List:", original_list)
print("Deep Copy:", deep_copy)

Original Nested List: [[1, 1, 5], 2, 3, 5]
Deep Copy: [[1, 1, 10], 2, 3, 10]

Pickle and Unpickle a list and display its content.

In [59]:
import pickle

my_list = [1, 2, 3, 4, 5]

# Pickle the list
with open("my_list.pkl", "wb") as file:
    pickle.dump(my_list, file)

In [60]:
# Unpickle the list
with open("my_list.pkl", "rb") as file:
    unpickled_list = pickle.load(file)

# Display the content of the unpickled list
print("Unpickled List:", unpickled_list)

Unpickled List: [1, 2, 3, 4, 5]