### Assignment-03 (SET)

    Create an empty set and print it.

In [1]:
my_set = set()
print(my_set)

set()

  Create a set of your favorite colors and print it.

In [2]:
fvrt_colors = {"black", "blue", "green", "purple"}

print(fvrt_colors)

{'purple', 'blue', 'black', 'green'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [3]:
mixed_set = {1, "hello", 3.14, 5, "world"}

print(mixed_set)

{1, 'world', 3.14, 5, 'hello'}

Access the elements of a set using a loop and print each element.

In [4]:
my_set = {1, 3, 2, 5}
for element in my_set:
    print(element)

1
2
3
5

add a new element to a set using the add() method.

In [5]:
my_set.add(4)

print(my_set)

{1, 2, 3, 4, 5}

Add multiple elements to a set using the update() method.

In [6]:
my_set.update([4, 5, 6])

print(my_set)

{1, 2, 3, 4, 5, 6}

Remove and return an arbitrary element from a set using the pop() method.

In [7]:
removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 1
Set after removal: {2, 3, 4, 5, 6}

Remove a specific element from a set using the remove() method.

In [8]:
my_set.remove(3)

print("Set after removal:", my_set)

Set after removal: {2, 4, 5, 6}

Remove a specific element from a set using the discard() method.

In [9]:
my_set.discard(6)

print("Set after removal:", my_set)

Set after removal: {2, 4, 5}

Convert a string to a set of unique characters.

In [10]:
my_string = "helloh"

unique_characters = set(my_string)

print("Set of unique characters:", unique_characters)

Set of unique characters: {'h', 'o', 'e', 'l'}

Convert a set of characters to a string.

In [11]:
my_set = {'h', 'e', 'l', 'l', 'o'}
my_string = ''.join(my_set)

print("String:", my_string)

String: hoel

Use the clear() method to remove all elements from a set.

In [12]:
my_set.clear()
print(my_set)

set()

Use the copy() method to create a shallow copy of a set.

In [13]:
original_set = {1, 2, 3}

shallow_copy = original_set.copy()

print("Original set:", original_set)
print("Shallow copy:", shallow_copy)

Original set: {1, 2, 3}
Shallow copy: {1, 2, 3}

Use the difference() method to find the difference between two sets.

In [14]:
difference = original_set.difference(shallow_copy)
print("Difference between set_A and set_B:", difference)

Difference between set_A and set_B: set()

Create two sets and find their union.

In [15]:
set_A = {1, 2, 3}
set_B = {3, 4, 5}

union_set = set_A.union(set_B)

print("Union of set_A and set_B:", union_set)

Union of set_A and set_B: {1, 2, 3, 4, 5}

 Create two sets and find their intersection.

In [16]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

intersection_set = set_A.intersection(set_B)

print("Intersection of set_A and set_B:", intersection_set)

Intersection of set_A and set_B: {3, 4}

    Create two sets and find their symmetric difference.

In [17]:
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

symmetric_difference_set = set_A.symmetric_difference(set_B)

print("Symmetric difference of set_A and set_B:", symmetric_difference_set)

Symmetric difference of set_A and set_B: {1, 2, 5, 6}

Check if one set is a subset of another.

In [18]:
set_A = {1, 2, 3}
set_B = {1, 2, 3, 4, 5}

is_subset = set_A.issubset(set_B)


print("Is set_A a subset of set_B?", is_subset)

Is set_A a subset of set_B? True

    Check if one set is a superset of another.

In [19]:
is_superset = set_B.issuperset(set_A)
print("Is set_B a superset of set_A?", is_superset)

Is set_B a superset of set_A? True

    Check if two sets are disjoint (have no common elements).

In [20]:
are_disjoint = set_A.isdisjoint(set_B)
print(are_disjoint)

False